{% extends "layout.html" %} {% block content %}

<div class="d-flex flex-column">
  <div class="p-4">
    <div class="d-flex gap-3 align-items-center mb-3">
      <img src="../static/img/idea.png" height="32" alt="Member Avatar" />
      <h2>INTRODUCTION</h2>
    </div>
    <p>
      Welcome to our group's graduation project! Our team is thrilled to present our graduation project, which focuses on building a data pipeline to ingest data related to courses and recruitment into a data lake. Then, apply data processing techniques to generate useful basic reports and data analysis for businesses as well as individuals in need of job search. The ultimate goal of this project is to enhance data management efficiency and provide valuable insights to optimize the current training and recruitment processes. Join us in exploring and implementing this data pipeline to make a meaningful impact
    </p>
  </div>
  <div class="p-4 bg-light">
    <div class="d-flex gap-3 align-items-center mb-3">
      <img src="../static/img/slogan.png" height="32" alt="Member Avatar" />
      <h2>SLOGAN</h2>
    </div>
    <p>
      Unleashing Data's Potential for a Smarter Future
    </p>
  </div>

  <div class="p-4">
    <div class="d-flex gap-3 align-items-center mb-3">
      <img src="../static/img/teamwork.png" height="32" alt="Member Avatar" />
      <h2>MEMBERS</h2>
    </div>

    <div class="row row-cols-auto justify-content-center gap-4 mx-auto">
      {% for member in team_members %}
      <div class="item-member col text-center d-flex flex-column gap-1 px-3 py-4">
        <div class="avatar text-center">
          <img
            src="{{ member['image'] }}"
            width="100"
            height="100"
            alt="Member Avatar"
          />
        </div>
        <div class="name">{{ member['name'] }}</div>
        <div class="role">{{member['role']}}</div>
        <div class="information">
          {% for field in member['information'] %}
          <div class="d-flex justify-content-between">
            <span>{{ field['title'] }} :</span>
            <span>{{ field['value'] }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/about.css') }}"
/>
{% endblock %} {% endblock %}
