{% extends "layout.html" %} {% block content %}

<div class="m-5 d-flex flex-column gap-2">
    <div>
        <h2>INTRODUCTION</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut
            iure
            error blanditiis neque ea reprehenderit eveniet dolor voluptates nihil delectus nisi dicta quam nulla,
            harum
            non, cupiditate placeat rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure
            error blanditiis neque ea reprehenderit eveniet dolor</p>
    </div>
    <div>
        <h2>SLOGAN</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut
            iure
            error blanditiis neque ea reprehenderit eveniet dolor voluptates nihil delectus nisi dicta quam nulla,
            harum
            non, cupiditate placeat rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure
            error blanditiis neque ea reprehenderit eveniet dolor</p>
    </div>

    <div>
        <h2 class="mx-auto border-1 border-bottom border-secondary mb-4"
            style="width: fit-content;">MEMBERS</h2>

        <div class="row row-cols-auto justify-content-center gap-3">
            <div class="item-member col text-center d-flex flex-column gap-1 p-3">
                <div class="avatar text-center">
                    <img src="../static/img/spider-solid.svg"
                         width="100"
                         height="100"
                         alt="An Huynh">
                </div>
                <div class="name"> Nguyen Tran Minh Thu </div>
                <div class="sub-title"> Instructor </div>
                <div class="description text-justify"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
                    ut
                    iure
                    error blanditiis neque ea reprehenderit eveniet dolor voluptates nihil delectus nisi dicta quam
                    nulla,
                    harum
                    non, cupiditate placeat rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut
                    iure
                    error blanditiis neque ea reprehenderit eveniet dolor
                </div>
            </div>
            <div class="item-member col text-center d-flex flex-column gap-1 p-3">
                <div class="avatar text-center">
                    <img src="../static/img/spider-solid.svg"
                         width="100"
                         height="100"
                         alt="An Huynh">
                </div>
                <div class="name"> Nguyen Pham Quang Dung </div>
                <div class="sub-title"> Team Leader </div>

                <div class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure error
                    blanditiis neque ea reprehenderit eveniet dolor voluptates nihil delectus nisi dicta quam nulla,
                    harum
                    non,
                    cupiditate placeat rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure
                    error
                    blanditiis neque ea reprehenderit eveniet dolor
                </div>
            </div>
            <div class="item-member col text-center d-flex flex-column gap-1 p-3">
                <div class="avatar text-center">
                    <img src="../static/img/spider-solid.svg"
                         width="100"
                         height="100"
                         alt="An Huynh">
                </div>
                <div class="name"> Duong Thanh Hiep </div>
                <div class="sub-title"> Team Member </div>
                <div class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure error
                    blanditiis neque ea reprehenderit eveniet dolor voluptates nihil delectus nisi dicta quam nulla,
                    harum
                    non,
                    cupiditate placeat rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure
                    error
                    blanditiis neque ea reprehenderit eveniet dolor
                </div>
            </div>
            <div class="item-member col text-center d-flex flex-column gap-1 p-3">
                <div class="avatar text-center">
                    <img src="../static/img/spider-solid.svg"
                         width="100"
                         height="100"
                         alt="An Huynh">
                </div>
                <div class="name"> Nguyen Thi Tieu Mi </div>
                <div class="sub-title"> Team Member </div>
                <div class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure error
                    blanditiis neque ea reprehenderit eveniet dolor voluptates nihil delectus nisi dicta quam nulla,
                    harum
                    non,
                    cupiditate placeat rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure
                    error
                    blanditiis neque ea reprehenderit eveniet dolor
                </div>
            </div>
            <div class="item-member col text-center d-flex flex-column gap-1 p-3">
                <div class="avatar text-center">
                    <img src="../static/img/spider-solid.svg"
                         width="100"
                         height="100"
                         alt="An Huynh">
                </div>
                <div class="name"> Le Thanh Loc </div>
                <div class="sub-title"> Team Member </div>
                <div class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure error
                    blanditiis neque ea reprehenderit eveniet dolor voluptates nihil delectus nisi dicta quam nulla,
                    harum
                    non,
                    cupiditate placeat rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure
                    error
                    blanditiis neque ea reprehenderit eveniet dolor
                </div>
            </div>
            <div class="item-member col text-center d-flex flex-column gap-1 p-3">
                <div class="avatar text-center">
                    <img src="../static/img/spider-solid.svg"
                         width="100"
                         height="100"
                         alt="An Huynh">
                </div>
                <div class="name"> Nguyen Thi Kim Ngan </div>
                <div class="sub-title"> Team Member </div>
                <div class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure error
                    blanditiis neque ea reprehenderit eveniet dolor voluptates nihil delectus nisi dicta quam nulla,
                    harum
                    non,
                    cupiditate placeat rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure
                    error
                    blanditiis neque ea reprehenderit eveniet dolor
                </div>
            </div>
        </div>
    </div>
</div>
{% block css %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/about.css') }}" />
{% endblock %} {% endblock %}