{% extends "layout.html" %} {% block content %}

<div class="d-flex flex-column">
  <div class="p-4">
    <div class="d-flex gap-3 align-items-center mb-3">
      <img src="../static/img/idea.png" height="32" alt="Member Avatar" />
      <h2>INTRODUCTION</h2>
    </div>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure
      error blanditiis neque ea reprehenderit eveniet dolor voluptates nihil
      delectus nisi dicta quam nulla, harum non, cupiditate placeat rerum! Lorem
      ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure error
      blanditiis neque ea reprehenderit eveniet dolor
    </p>
  </div>
  <div class="p-4 bg-light">
    <div class="d-flex gap-3 align-items-center mb-3">
      <img src="../static/img/slogan.png" height="32" alt="Member Avatar" />
      <h2>SLOGAN</h2>
    </div>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure
      error blanditiis neque ea reprehenderit eveniet dolor voluptates nihil
      delectus nisi dicta quam nulla, harum non, cupiditate placeat rerum! Lorem
      ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure error
      blanditiis neque ea reprehenderit eveniet dolor
    </p>
  </div>

  <div class="p-4">
    <div class="d-flex gap-3 align-items-center mb-3">
      <img src="../static/img/teamwork.png" height="32" alt="Member Avatar" />
      <h2>MEMBERS</h2>
    </div>

    <div class="row row-cols-auto justify-content-center gap-4 mx-auto">
      <div class="item-member col text-center d-flex flex-column gap-1 p-3">
        <div class="avatar text-center">
          <img
            src="../static/img/businesswoman.png"
            width="100"
            height="100"
            alt="Member Avatar"
          />
        </div>
        <div class="name">Nguyen Tran Minh Thu</div>
        <div class="sub-title">Instructor</div>
        <div class="description text-justify">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut
          iure error blanditiis neque ea reprehenderit eveniet dolor voluptates
          nihil delectus nisi dicta quam
        </div>
      </div>
      <div class="item-member col text-center d-flex flex-column gap-1 p-3">
        <div class="avatar text-center">
          <img
            src="../static/img/man.png"
            width="100"
            height="100"
            alt="Member Avatar"
          />
        </div>
        <div class="name">Nguyen Pham Quang Dung</div>
        <div class="sub-title">Team Leader</div>

        <div class="description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut
          iure error blanditiis neque ea reprehenderit eveniet dolor voluptates
          nihil delectus nisi dicta quam nulla, harum non, cupiditate placeat
          rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Labore ut iure error blanditiis neque ea reprehenderit eveniet dolor
        </div>
      </div>
      <div class="item-member col text-center d-flex flex-column gap-1 p-3">
        <div class="avatar text-center">
          <img
            src="../static/img/hacker.png"
            width="100"
            height="100"
            alt="Member Avatar"
          />
        </div>
        <div class="name">Duong Thanh Hiep</div>
        <div class="sub-title">Team Member</div>
        <div class="description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut
          iure error blanditiis neque ea reprehenderit eveniet dolor voluptates
          nihil delectus nisi dicta quam nulla, harum non, cupiditate placeat
          rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Labore ut iure error blanditiis neque ea reprehenderit eveniet dolor
        </div>
      </div>
      <div class="item-member col text-center d-flex flex-column gap-1 p-3">
        <div class="avatar text-center">
          <img
            src="../static/img/woman.png"
            width="100"
            height="100"
            alt="Member Avatar"
          />
        </div>
        <div class="name">Nguyen Thi Tieu Mi</div>
        <div class="sub-title">Team Member</div>
        <div class="description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut
          iure error blanditiis neque ea reprehenderit eveniet dolor voluptates
          nihil delectus nisi dicta quam nulla, harum non, cupiditate placeat
          rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Labore ut iure error blanditiis neque ea reprehenderit eveniet dolor
        </div>
      </div>
      <div class="item-member col text-center d-flex flex-column gap-1 p-3">
        <div class="avatar text-center">
          <img
            src="../static/img/businessman.png"
            width="100"
            height="100"
            alt="Member Avatar"
          />
        </div>
        <div class="name">Le Thanh Loc</div>
        <div class="sub-title">Team Member</div>
        <div class="description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut
          iure error blanditiis neque ea reprehenderit eveniet dolor voluptates
          nihil delectus nisi dicta quam nulla, harum non, cupiditate placeat
          rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Labore ut iure error blanditiis neque ea reprehenderit eveniet dolor
        </div>
      </div>
      <div class="item-member col text-center d-flex flex-column gap-1 p-3">
        <div class="avatar text-center">
          <img
            src="../static/img/girl.png"
            width="100"
            height="100"
            alt="Member Avatar"
          />
        </div>
        <div class="name">Nguyen Thi Kim Ngan</div>
        <div class="sub-title">Team Member</div>
        <div class="description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut
          iure error blanditiis neque ea reprehenderit eveniet dolor voluptates
          nihil delectus nisi dicta quam nulla, harum non, cupiditate placeat
          rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Labore ut iure error blanditiis neque ea reprehenderit eveniet dolor
        </div>
      </div>
    </div>
  </div>
</div>
{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/about.css') }}"
/>
{% endblock %} {% endblock %}
