{% extends "layout.html" %} {% block content %}
<div class="py-4 px-5 d-flex flex-column gap-3">
  <div class="d-flex justify-content-between align-items-center flex-row">
    <h2 class="fw-normal">Trực quan hóa dữ liệu khóa học</h2>
    <select class="form-select w-25 h-auto"
            aria-label="Default select example"
            placeholder="Chọn bộ dữ liệu">
      <option value=""
              disabled
              selected>Chọn bộ dữ liệu</option>
      <option value="1">Tất cả</option>
      <option value="2">Coursera</option>
      <option value="3">Udemy</option>
      <option value="4">Edx</option>
    </select>
  </div>
  <div class="row row-cols-auto gap-3 ms-0">
    <div class="box"
         id="box1">
      <img src="../static/img/online-course.png"
           height="40"
           width="40"
           alt="Course icon" />
      <div class="number">100005</div>
      <div class="text">Khóa học</div>
    </div>

    <div class="box"
         id="box2">
      <img src="../static/img/subjects.png"
           height="40"
           width="40"
           alt="Course icon" />
      <div class="number">233</div>
      <div class="text">Lĩnh vực</div>
    </div>

    <div class="box"
         id="box3">
      <img src="../static/img/programing_language.png"
           height="40"
           width="40"
           alt="Course icon" />
      <div class="number">333</div>
      <div class="text">Ngôn ngữ lập trình</div>
    </div>

    <div class="box"
         id="box4">
      <img src="../static/img/tool.png"
           height="40"
           width="40"
           alt="Course icon" />
      <div class="number">524</div>
      <div class="text">Công cụ lập trình</div>
    </div>

    <div class="box"
         id="box5">
      <img src="../static/img/framework.png"
           height="40"
           width="40"
           alt="Course icon" />
      <div class="number">2225</div>
      <div class="text">Khung chương trình</div>
    </div>
  </div>
  <div>
    <h4>Thống kê theo ngành</h4>
    <div class="row row-cols-auto justify-content-start ms-0 gap-4">
      {% for chart in graphsData %}
      {% if chart['haveFilter'] == False %}
      <div class="chart-container col p-0">
        <div class="chart-container-header d-flex justify-content-between align-items-md-center gap-2">
          <span>{{chart['name']}}</span>
          <img type="button"
               data-bs-toggle="modal"
               data-bs-target="#myModal{{chart['chartId']}}"
               src="../static/img/zoom-out.png"
               height="28"
               alt="Zoom icon" />
        </div>
        <div class="chart-container-body flex justify-content-center align-items-center">
          <div class="chart"
               id="{{chart['chartId']}}"></div>
        </div>
      </div>

      <div class="modal"
           id="myModal{{chart['chartId']}}">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header w-100 bg-light p-4">
              <h3 class="modal-title text-primary fw-bold">{{chart['name']}}</h3>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="w-100 d-flex justify-content-center align-items-lg-center">
              <div class="chart overflow-auto"
                   id="{{chart['dialogId']}}">
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if chart['haveFilter'] == True %}
      <div class="chart-container col p-0">
        <div class="chart-container-header d-flex justify-content-between align-items-md-center gap-2">
          <span>{{chart['name']}}</span>
          <img type="button"
               data-bs-toggle="modal"
               data-bs-target="#myModal{{chart['chartId']}}"
               src="../static/img/zoom-out.png"
               height="28"
               alt="Zoom icon" />
        </div>
        <div class="chart-container-body flex justify-content-center align-items-center">
          <div class="chart"
               id="{{chart['chartId']}}"></div>
        </div>
      </div>

      <div class="modal"
           id="myModal{{chart['chartId']}}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header w-100 bg-light p-4">
              <h3 class="modal-title text-primary fw-bold">{{chart['name']}}</h3>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"></button>
            </div>
            <div class="w-50 m-3">
              <label for="subject-select"
                     class="pb-1">Chọn lĩnh vực</label>
              <select id="subject-select-{{ loop.index }}"
                      aria-label=""
                      class="form-select">
                {% for index, subject in chart['filter'] %}
                <option value="{{ index }}">{{ subject }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="w-100 d-flex justify-content-center align-items-lg-center">
              <div class="chart overflow-auto"
                   id="{{chart['dialogId']}}">
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>
</div>
<!-- plotly CDN -->

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  var graphs = {{ graphsData | tojson }};
  var selectedSubject = [0, 0, 0, 0, 0, 0, 0, 0];
  for (var i = 0; i < graphs.length; i++) {
    var graph = graphs[i];
    var graphData = JSON.parse(graph.graphData);
    var graphDialogData = JSON.parse(graph.graphDialogData);

    if (graph.haveFilter == false) {
      Plotly.plot(graph.chartId, graphData, {});
      Plotly.plot(graph.dialogId, graphDialogData, {});
    }
    else {
      Plotly.plot(graph.chartId, graphData[selectedSubject[i]], {});
      Plotly.plot(graph.dialogId, graphDialogData[selectedSubject[i]], {});
    }
  }
  $('#subject-select-6').change(function () {
    selectedSubject[5] = $(this).val();
    Plotly.react('chart6', JSON.parse(graphs[5].graphData)[selectedSubject[5]], {});
    Plotly.react('dialog-chart6', JSON.parse(graphs[5].graphDialogData)[selectedSubject[5]], {});
  });
  $('#subject-select-7').change(function () {
    selectedSubject[6] = $(this).val();
    Plotly.react('chart7', JSON.parse(graphs[6].graphData)[selectedSubject[6]], {});
    Plotly.react('dialog-chart7', JSON.parse(graphs[6].graphDialogData)[selectedSubject[6]], {});
  });
  $('#subject-select-8').change(function () {
    selectedSubject[7] = $(this).val();
    Plotly.react('chart8', JSON.parse(graphs[7].graphData)[selectedSubject[7]], {});
    Plotly.react('dialog-chart8', JSON.parse(graphs[7].graphDialogData)[selectedSubject[7]], {});
  });

</script>

{% block css %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/dialog.css') }}" />
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/visualization.css') }}" />
{% endblock %} {% endblock %}