{% extends "layout.html" %}
{% block content %}
    <div class=" py-3 px-5">
    <h1>Dashboard</h1>
    <div>
        <div class="row row-cols-auto justify-content-between">
            <div class="col-xl-4 col-lg-6">
                <div class="card">
                    <div class="card-header">Chart 1</div>
                    <div class="card-body">
                        <div class="chart"
                             id="chart1"></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6">
                <div class="card">
                    <div class="card-header">Chart 2</div>
                    <div class="card-body">
                        <div class="chart"
                             id="chart2"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="card">
                    <div class="card-header">Chart 3</div>
                    <div class="card-body">
                        <div class="chart"
                             id="chart3"></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6">
                <div class="card">
                    <div class="card-header">Chart 4</div>
                    <div class="card-body">
                        <div class="chart"
                             id="chart4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <!-- plotly CDN -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graphs1,{});

        var graphs2 = {{ graph2JSON | safe}};
        Plotly.plot("chart2", graphs2,{});

        var graphs3 = {{ graph3JSON | safe}};
        Plotly.plot("chart3", graphs3,{});

        var graphs4 = {{ graph4JSON | safe}};
        Plotly.plot("chart4", graphs4,{});
    </script>

{% endblock %}
