{% extends "layout.html" %} {% block content %}
<div class="m-5 d-flex flex-column gap-5">
  <section class="source-data d-flex flex-column gap-4">
    <div class="d-flex gap-2 align-items-center">
      <img height="30"
           src="../static/img/database-solid.svg"
           alt="Icon database">

      <h2 class="title ">Data Sources</h2>
    </div>
    <div class="course-data">
      <h3 class="title mb-3">Courses Data</h3>
      <div class="row row-cols-auto gap-4 mx-auto">
        <div
             class="col text-center px-3 py-3 rounded-3 bg-light d-flex flex-column gap-3 shadow-sm px-3 py-4 rounded-3 bg-light d-flex flex-column gap-3">
          <span class="source-title">Coursera</span>
          <div>
            <div class="d-flex gap-3">
              <div class="">
                <div class="rounded-circle bg-info
                  
                   d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">4,000+</span>
                </div>
                <p>Courses</p>
              </div>
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">82+ M</span>
                </div>
                <p>Learners</p>
              </div>
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">200+</span>
                </div>
                <p>Partners</p>
              </div>
            </div>
          </div>
          <a href="https://www.coursera.org/?irclickid=wlvRjDSqHxyNUeaU9XwM0VgNUkASXR1pbw4DUw0&irgwc=1&utm_medium=partners&utm_source=impact&utm_campaign=2985301&utm_content=b2c"
             class="btn btn-outline-warning mx-auto">Access Website</a>
        </div>
        <div class="col text-center px-3 py-3 rounded-3 bg-light d-flex flex-column gap-3 shadow-sm">
          <span class="source-title">Udemy</span>
          <div>
            <div class="d-flex gap-3">
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">130,000+</span>
                </div>
                <p>Courses</p>
              </div>
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">40+ M</span>
                </div>
                <p>Learners</p>
              </div>
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">190+</span>
                </div>
                <p>Countries</p>
              </div>
            </div>
          </div>
          <a href="https://www.udemy.com/?ranMID=39197&ranEAID=yNfEamYSgXk&ranSiteID=yNfEamYSgXk-Q716xy3YHMHwt8IcQqpOnA&LSNPUBID=yNfEamYSgXk&utm_source=aff-campaign&utm_medium=udemyads&gclid=Cj0KCQjwyLGjBhDKARIsAFRNgW8Ng4w4tvTFvPbBKcXsbBwCk4SyZdluQ97e3dvxkn5X7DtUWHJqyQAaAv0KEALw_wcB"
             class="btn btn-outline-warning mx-auto">Access Website</a>
        </div>
        <div class="col text-center px-3 py-3 rounded-3 bg-light d-flex flex-column gap-3 shadow-sm">
          <span class="source-title">Udx</span>
          <div>
            <div class="d-flex gap-3">
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">3,000+</span>
                </div>
                <p>Courses</p>
              </div>
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">38+ M</span>
                </div>
                <p>Learners</p>
              </div>
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">120+</span>
                </div>
                <p>Partners</p>
              </div>
            </div>
          </div>
          <a href="https://www.edx.org/?irclickid=wlvRjDSqHxyNUeaU9XwM0VgNUkASXW0Zbw4DUw0&utm_source=affiliate&utm_medium=Ecom%20EWAY&utm_campaign=Online%20Tracking%20Link_&utm_content=ONLINE_TRACKING_LINK&irgwc=1"
             class="btn btn-outline-warning mx-auto">Access Website</a>
        </div>
      </div>
    </div>
    <div class="job-data">
      <h3 class="title mb-3">Job Postings Data</h3>
      <div class="row row-cols-auto gap-4 mx-auto">
        <div class="col text-center px-3 py-3 rounded-3 bg-light d-flex flex-column gap-3 shadow-sm">
          <span class="source-title">LinkedIn</span>
          <div>
            <div class="d-flex gap-3">
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">740+ M</span>
                </div>
                <p>Members</p>
              </div>
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">50+ M</span>
                </div>
                <p>Companies</p>
              </div>
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">24</span>
                </div>
                <p>Languages</p>
              </div>
            </div>
          </div>
          <a href="https://www.linkedin.com/jobs/search?trk=guest_homepage-basic_guest_nav_menu_jobs&position=1&pageNum=0"
             class="btn btn-outline-warning mx-auto">Access Website</a>
        </div>
        <div class="col text-center px-3 py-3 rounded-3 bg-light d-flex flex-column gap-3 shadow-sm">
          <span class="source-title">NodeFlair</span>
          <div>
            <div class="d-flex gap-3">
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">Circle</span>
                </div>
                <p>ABC</p>
              </div>
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">5,000+</span>
                </div>
                <p>Companies</p>
              </div>
              <div>
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center"
                     style="width: 100px; height: 100px">
                  <span class="text-white">Circle</span>
                </div>
                <p>ABC</p>
              </div>
            </div>
          </div>
          <a href="https://nodeflair.com/"
             class="btn btn-outline-warning mx-auto">Access Website</a>
        </div>
      </div>
    </div>
  </section>
  <section class="colect-data d-flex flex-column gap-4">
    <div class="d-flex gap-2 align-items-center">
      <img height="30"
           src="../static/img/spider-solid.svg"
           alt="Icon database">

      <h2 class="title ">Collect Data</h2>
    </div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure error blanditiis neque ea reprehenderit eveniet dolor voluptates nihil delectus nisi dicta quam nulla, harum non, cupiditate placeat rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure error blanditiis neque ea reprehenderit eveniet dolor voluptates nihil delectus nisi dicta quam nulla, harum non, cupiditate placeat rerum!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ut iure error blanditiis neque ea reprehenderit eveniet dolor voluptates nihil delectus nisi dicta quam nulla, harum non, cupiditate placeat rerum!</p>
    <img src="https://cazton.com/Content/images/blogpost/technicalposts/lambda-architecture-spark-hadoop-cazton.jpg"
         width="70%"
         alt="Image description" />
  </section>
</div>
{% block css %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/data.css') }}" />
{% endblock %} {% endblock %}