{% extends "layout.html" %} {% block content %}
<div style="
    height: 220px;
    background-image: url('../static//img/web-backgroud.jpg');
  "></div>
<div class="d-flex flex-column gap-2 my-4">
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h1 class="web-title">Visualization Website</h1>
      <div class="linear-underlined mx-auto m-2"></div>
      <p>Explore and analyze trends in job postings and courses data.</p>
    </div>
  </section>

  <!-- About Section -->
  <section class="about bg-light">
    <div class="d-flex gap-2 mb-4">
      <div class="rectangle bg-success"></div>
      <h2>About Visualization Website</h2>
    </div>
    <p>
      Visualization Website is a platform that collects data from various job posting websites and
      online course platforms. We analyze and visualize this data to provide insights and trends in
      the job market and the world of online learning. Whether you are looking for the latest job
      opportunities or seeking to enhance your skills through online courses, Data Visualizer has
      got you covered.
    </p>
  </section>

  <!-- Functions Section -->
  <section class="features d-flex flex-column gap-3">
    <div class="d-flex gap-2">
      <div class="rectangle bg-info"></div>
      <h2 class="text-left">Features</h2>
    </div>
    <span class="fs-5 fw-bold">Data Visualization</span>
    <div class="row row-cols-auto gap-5 mx-0">
      <div class="feature col d-flex gap-2 justify-content-around border border-primary rounded-3">
        <img class="rounded-2"
             src="../../static/img/data-visualization.png"
             width="150"
             height="100"
             alt="Visualization IMG" />
        <div class="d-flex flex-column gap-1 align-items-center justify-content-between text-center">
          <p class="px-1  text-body">Explore and analyze trends in job postings data</p>
          <a href="/visualization"
             class="btn btn-outline-primary mx-auto">Job Data Visualization</a>
        </div>
      </div>

      <div class="feature col d-flex gap-2 justify-content-around border border-warning rounded-3">
        <img class="rounded-2"
             src="../../static/img/course-visualization.png"
             width="150"
             height="100"
             alt="Visualization IMG" />
        <div class="d-flex flex-column gap-1 align-items-center justify-content-between text-center">
          <p class="px-1  text-body">Explore and analyze trends in courses data</p>
          <a href="/visualization"
             class="btn btn-outline-warning mx-auto">Course Data Visualization</a>
        </div>
      </div>

    </div>
    <span class="fs-5 fw-bold">Data Visualization</span>
    <div class="row row-cols-auto gap-5 mx-0">
      <div class="feature col d-flex gap-2 justify-content-around border border-success rounded-3">
        <img class="rounded-2"
             src="../../static/img/find-course.png"
             width="150"
             height="100"
             alt="Search IMG" />
        <div class="d-flex flex-column gap-1 align-items-center justify-content-between text-center">
          <p class="px-1 text-body text-w">Search for courses that suit your individual needs</p>
          <a href="/course-finder"
             class="btn btn-outline-success mx-auto">Course Finder</a>
        </div>
      </div>

      <div class="feature col d-flex gap-2 justify-content-around border border-danger rounded-3">
        <img class="rounded-2"
             src="../../static/img/job-posting.png"
             width="150"
             height="100"
             alt="Search IMG" />
        <div class="d-flex flex-column gap-1 align-items-center justify-content-between text-center">
          <p class="px-1 text-body text-w">Search for jobs that suit your individual needs</p>
          <a href="/Job-finder"
             class="btn btn-outline-danger mx-auto">Job Finder</a>
        </div>
      </div>
    </div>
</div>
</section>

<!-- Statistics Section -->
<section class="statistics bg-light">
  <div class="d-flex gap-2">
    <div class="rectangle bg-warning"></div>
    <h2>Key Statistics</h2>
  </div>
  <div class="statistics-list">
    <div class="statistic-item bg-info">
      <h3>1,000+</h3>
      <p>Job Postings</p>
    </div>
    <div class="statistic-item bg-success">
      <h3>500+</h3>
      <p>Courses</p>
    </div>
    <div class="statistic-item bg-warning">
      <h3>10,000+</h3>
      <p>Registered Users</p>
    </div>
  </div>
</section>
</div>
{% block css %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %} {% endblock %}