{% extends "layout.html" %} {% block content %}
<div class="py-3 px-5">
  <h1 class="text-center m-4">Job Postings Visualization Dashboard</h1>
  <div>
    <div class="row row-cols-auto justify-content-evenly gap-4">
      {% for chart in graphsData %}
      {% if chart['haveFilter'] == False %}
      <div class="chart-container col p-0">
        <div class="chart-container-header d-flex justify-content-between align-items-md-center">
          <span>{{chart['name']}}</span>
          <img type="button"
               data-bs-toggle="modal"
               data-bs-target="#myModal{{chart['chartId']}}"
               src="../static/img/zoom-out.png"
               height="28"
               alt="Zoom icon" />
        </div>
        <div class="chart-container-body flex justify-content-center align-items-center">
          <div class="chart"
               id="{{chart['chartId']}}"></div>
        </div>
      </div>

      <div class="modal"
           id="myModal{{chart['chartId']}}">
        <div class="modal-dialog"
             style="max-width: 1200px">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header w-100 bg-light p-4">
              <h3 class="modal-title text-primary fw-bold">{{chart['name']}}</h3>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="w-100 d-flex justify-content-center align-items-lg-center">
              <div class="chart overflow-auto"
                   id="{{chart['dialogId']}}">
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if chart['haveFilter'] == True %}
      <div class="chart-container col p-0">
        <div class="chart-container-header d-flex justify-content-between align-items-md-center">
          <span>{{chart['name']}}</span>
          <img type="button"
               data-bs-toggle="modal"
               data-bs-target="#myModal{{chart['chartId']}}"
               src="../static/img/zoom-out.png"
               height="28"
               alt="Zoom icon" />
        </div>
        <div class="chart-container-body flex justify-content-center align-items-center">
          <div class="chart"
               id="{{chart['chartId']}}"></div>
        </div>
      </div>

      <div class="modal"
           id="myModal{{chart['chartId']}}">
        <div class="modal-dialog"
             style="max-width: 1200px">
          <div class="modal-content">
            <div class="modal-header w-100 bg-light p-4">
              <h3 class="modal-title text-primary fw-bold">{{chart['name']}}</h3>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"></button>
            </div>
            <div class="w-50 m-3">
              <label for="subject-select"
                     class="pb-1">Select Industry</label>
              <select id="subject-select"
                      aria-label=""
                      class="form-select">
                {% for index, subject in chart['filter'] %}
                <option value="{{ index }}"
                        {%
                        if
                        selectedSubject==index
                        %}selected{%
                        endif
                        %}>{{ subject }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="w-100 d-flex justify-content-center align-items-lg-center">
              <div class="chart overflow-auto"
                   id="{{chart['dialogId']}}">
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>
</div>
<!-- plotly CDN -->

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<script type="text/javascript">


  var graphs = {{ graphsData | tojson }};
  var selectedSubject = 0;
  for (var i = 0; i < graphs.length; i++) {
    var graph = graphs[i];
    var graphData = JSON.parse(graph.graphData);
    var graphDialogData = JSON.parse(graph.graphDialogData);

    if (graph.haveFilter == false) {
      Plotly.plot(graph.chartId, graphData, {});
      Plotly.plot(graph.dialogId, graphDialogData, {});
    }
    else {
      Plotly.plot(graph.chartId, graphData[selectedSubject], {});
      Plotly.plot(graph.dialogId, graphDialogData[selectedSubject], {});
    }
  }

  function handleSubjectChange() {
    selectedSubject = parseInt($('#subject-select').val());
    console.log(selectedSubject);

    // Update the plots with the new subject
    // Plotly.react('chart6', graphs6[selectedSubject], {});
    // Plotly.react('dialog-chart6', graph6Dialog[selectedSubject], {});
  }

  // Event listener for subject dropdown change
  $(document).ready(function () {
    $('#subject-select').change(handleSubjectChange);
  });

</script>

{% block css %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/dialog.css') }}" />
{% endblock %} {% endblock %}