p{
    padding: 0px;
    margin: 0px;
  }
  h1{
    padding: 0px;
    margin: 0px;
  }
  h2{
    padding: 0px;
    margin: 0px;
  }
.item-member{
    width: 280px;
}

.description{
    text-align: justify;
    padding: 4px;
}

.item-member{
    border: 2px solid rgb(88, 151, 233);
    border-radius: 15px;
}

.avatar{
    margin-bottom: 20px;
}

.name{
    font-size: 18px;
}